.smContainer {
  justify-content: space-evenly;
  margin: 60px auto;
  padding: 27px 33px 36px;
  width: 412px;
  background-color: #FFF;
  position: relative;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1), -1px -1px 2px rgba(0, 0, 0, 0.1);

  @media screen and (max-width: 470px) {
     width: 100%;
  }

}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-size: 22px;
  margin-bottom: 30px;
}

.imageBlock {
  position: relative;
  margin-bottom: 17px;
}

.email {
  opacity: 0.5;
  margin-bottom: 30px;
}

.butCont {
  position: relative;
  width: 127px;
}

.logoutImg {
  margin-right: 7px;
}