.head {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 70px 0 28px;
  row-gap: 15px;

  @media screen and (max-width: 707px) {

  }
}

.titleWrapper {
  display: flex;
}

.title {
  max-width: 500px;
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
}

.searchBlock {
  margin-bottom: 24px;
}

.wrapper {
  position: relative;
}

.popImgWrap{
  position: absolute;
  margin: 7px 5px;
}

.popImg{
  width: 21px;
  height: 21px;
}

.toolTip {
  z-index: 1000 !important;
}