.head {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 70px 0 0;
  row-gap: 15px;

  @media screen and (max-width: 707px) {

  }
}

.deckCoverBlock {
  height: 107px;
  width: 170px;
  overflow: hidden;
  position: relative;
  margin: 10px 0 25px;
}

.deckCover {
 width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.titleWrapper {
  display: flex;
}

.title {
  max-width: 500px;
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
}

.searchBlock {
  margin-bottom: 24px;
}

.wrapper {
  position: relative;
}

.popImgWrap{
  position: absolute;
  margin: 7px 5px;
}

.popImg{
  width: 21px;
  height: 21px;
}

.toolTip {
  z-index: 1000 !important;
}