.head {
  display: flex;
  justify-content: space-between;
  padding: 70px 0 28px;
}

.searchBlock {
  margin-bottom: 24px;
}

.wrapper {
  position: relative;
}

.popImgWrap{
  position: absolute;
  margin: 7px 5px;
}

.popImg{
  width: 21px;
  height: 21px;
}