.title {
  padding-bottom: 19px;
  border-bottom: 1px solid black;
}

.wrapper {
  display: flex;
  flex-direction: column;


  .name {
    font-weight: 600;
    display: inline-block;
    max-width: 100px;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
    margin-bottom: -7px;
  }

  .buttons {
    display: flex;
    justify-content: center;
  }
}