@import '../../styles/varaibles';

.preloadCont {
  position: absolute;
  z-index: 1000;
  height: 100%;
  width: 100%;
  top: 0;
  background-color: $bgColor;
  display: flex;
  align-items: center;
  justify-content: center;
}