@import './common/styles/reset.scss';
@import './common/styles/varaibles';

body {
  margin: 0;

  font-family: 'Montserrat', sans-serif;
  //font-family: 'Bebas Neue', cursive; cards font

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color: $textColor;
  background-color: $bgColor;
  line-height: 24px;
}

h1 {
  font-size: 26px;
  font-weight: 600;
  line-height: 32px;
}

h5 {
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
}

